---
// src/pages/index.astro
import Layout from "@/layouts/Main.astro";
import BlogPost from "@/components/BlogPost.astro";
import AboutMe from "@/components/AboutMe.astro";
import "@/styles/global.css";
import { getCollection } from "astro:content";

interface PostData {
	title: string;
	description: string;
	tags: string[];
	pubDate: Date;
	heroImage: string;
}
interface Post {
	id: string;
	slug: string;
	body: string;
	collection: string;
	data: PostData;
}

const allTags: string[] = [
	"Laravel",
	"Next.js",
	"React",
	"Vue.js",
	"TypeScript",
	"JavaScript",
	"PHP",
	"MySQL",
	"API",
	"Frontend",
	"Backend",
	"Full-stack",
];

const posts = (await getCollection("blog")) as Post[];
const url = new URL(Astro.request.url);
const params = url.searchParams;
const selectedTag = params.get("tag")?.toLowerCase();
---

<Layout title="Alexandru.dev - Blog">
	<div class="grid grid-cols-1 md:grid-cols-3 gap-8">
		<div class="md:col-span-2">
			<h1 class="text-3xl font-bold mb-6">Latest Posts</h1>
			<!-- <TagFilter tags={allTags} client:load /> -->
			<div class="space-y-8" id="posts-container">
				{posts.map((post: Post) => <BlogPost post={post} />)}
			</div>
			<!-- <div class="mt-8 text-center">
				<button
					id="load-more"
					class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition-colors"
				>
					Load More
				</button> -->
			<!-- </div> -->
		</div>
		<aside class="md:sticky md:top-24 self-start">
			<AboutMe />
		</aside>
	</div>
</Layout>

<script>
	const loadMoreButton = document.getElementById(
		"load-more",
	) as HTMLButtonElement;
	let isLoading = false;

	loadMoreButton.addEventListener("click", () => {
		if (isLoading) return;

		isLoading = true;
		loadMoreButton.textContent = "Loading...";

		// Simulate loading delay
		setTimeout(() => {
			isLoading = false;
			loadMoreButton.textContent = "Load More";
		}, 2000);
	});
</script>
